<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Встроенная память</td>
      <td>{{ product.memory }}</td>
    </tr>
    <tr>
      <td>Ёмкость аккумулятора</td>
      <td>{{ product.battery_capacity }}</td>
    </tr>
    <tr>
      <td>Карта памяти</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Главная камера</td>
      <td>{{ product.main_camera }}</td>
    </tr>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{ product.frontal_camera }}</td>
    </tr>
    <tr>
      <td>Процессор</td>
      <td>{{ product.processor }}</td>
    </tr>
    <tr>
      <td>Цвет</td>
      <td>{{ product.color }}</td>
    </tr>
  </tbody>
</table>
